{% extends 'layout.html' %}

{% block content %}
<section id="account-details">
    <div class="details">
        <h1>{{ user.username }}</h1>
        <p>Email: {{ user.email }}</p>
        {% if user.bio %}
                <p>Bio: {{ user.bio }}</p>
                <button id="edit-profile-btn">Edit Bio</button>
        {% else %}
                <p>Bio: <em>No bio yet</em></p>
                <button id="edit-profile-btn">Add Bio</button>
        {% endif %}
        {% if user.city %}
                <p>City: {{ user.city }}</p>
                <button id="edit-profile-btn">Edit City</button>
        {% else %}
                <p>City: <em>No city yet</em></p>
                <button id="edit-profile-btn">Add City</button>
        {% endif %}
        <a href="/user/followers">
                Followers: {{ followers_count }}
        </a> | 
        <a href="/user/following">
                Following: {{ followed_count }}
        </a>
    </div>
</section>

<form>
    <button formaction="/logout">Log Out</button>
</form>

<script src="/static/js/home.js"></script>
{% endblock %}