{% extends "layout.html" %}

{% block content %}
<div id="search">
    <form class="search-bar" action="/search" method="get">
        <input type="text" placeholder="Search Broadway Shows..." 
            name="search-entry" value="{{ search_entry }}">
        <button type="button" id="search-btn"><i class="fa fa-search"></i></button>
    </form>
</div>

<section id="home">
    <div class="listing-grid">
        {% for musical in musicals %}
            <div class="card" id="{{ musical.musical_id }}">
                <div class="card-header">
                    <p class="profile-name">
                        <strong>
                        <a href="{{ musical.official_website }}" target="_blank">{{ musical.title }}</a>
                        </strong>
                    </p>
                </div>
                <!-- <div class="card-img">
                    <img class="cropped" src="{{ musical.image_file }}">
                </div> TODO: implement this later by adding link-->
                <div class="card-body">
                    <p><strong>Description:</strong> {{ musical.description | truncate(100, True) }}</p>
                    <p><strong>Opening Date:</strong> {{ musical.opening_date }}</p>
                    <p><strong>Closing Date:</strong> {{ musical.closing_date }}</p>
                    <p><strong>City:</strong> {{ musical.city }}</p>
                </div>
                <div class="card-footer">
                </div>
            </div>
        {% endfor %}
    </div>
</section>
<script src="/static/js/home.js"></script>

{% endblock %}