{% extends "layout.html" %}

{% block content %}
<div id="search">
    <form class="search-bar" action="/search">
        <input type="text" placeholder="Search Broaway Shows..." id="search-entry">
        <button type="button" id="search-btn"><i class="fa fa-search"></i></button>
    </form>
</div>
<section id="home">
    <div class="listing-grid">
        {% for service in services %}
            <div class="card" id="{{ service.id }}">
                <div class="card-header">
                    <p class="profile-name">{{ service.creator.username }}</p>
                </div>
                <div class="card-img">
                    <img class="cropped" src="{{ service.image_file }}">
                </div>
                <div class="card-body">
                    <h3>{{ service.title }}</h3>
                    <p>{{ service.description }}</p>
                </div>
                <div class="card-footer">
                    <i class="fa-regular fa-comment"></i>
                    <p>Comment</p>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
<script src="/static/js/home.js"></script>

{% endblock %}